streamlit
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-groq
langchain-huggingface
langchain-astradb
pypdf
python-dotenv
huggingface_hub
sentence_transformers
duckduckgo_search==5.3.1b1
pymupdf
arxiv
wikipedia
mysql-connector-python
SQLAlchemy
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr
huggingface_hub
datasets
tiktoken
cassandra-driver
crewai
crewai_tools    
pinecone-client
pinecone-text
langchain_community
langchain_core
langchain_huggingface
langchain_text_splitters
langchain_groq
langchain_astradb
pypdf
python-dotenv
huggingface_hub
sentence_transformers
duckduckgo_search==5.3.1b1
pymupdf
arxiv
wikipedia
mysql-connector-python
SQLAlchemy
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr
huggingface_hub
datasets
tiktoken
cassandra-driver
crewai
crewai_tools    
pinecone-client
pinecone-text
langchain_pinecone